/* All styles for your Card Components live here */
.card-container {
    border: 2px solid purple;
    margin: 1px;
}

.bannerImage {
    border: 3px solid orange;
    margin: 0px 10px 0px 100px;
}

#bannerImage {
    width: 100%;
}